<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Encoding" value="UTF-8"/>
    <add key="Extensions" value="
sln,csproj,vbproj,
asp,ascx,aspx,ashx,asmx,asax,master,sitemap,skin,
xml,htm,html,css,json,
cs,vb,java,python,lua,js,
c,h,m,cpp,
cfg,iml,properties
    "/>
      <add key="SkipSubFolders" value="obj,bin,images,doc"/>
      <add key="SkipBlankLines" value="true"/>
      <add key="SkipCommentLines" value="true"/>
      <add key="SkipHidden" value="true"/>
      <add key="OpenWhenFinished" value="true"/>
      <add key="About" value="
FileCounter
源码统计及合并工具，可用于著作权申报
https://www.github.com/surfsky/
         
软件著作权源程序需求(2024)
1、页眉请标注软件名称及版本号，页尾标注页码。
2、源代码大于3000行的，提供以下源代码：
    （1）前30页，每页不小于50行；
    （2）后30页，每页不小于50行；
3、源代码小于60页（3000行）的全部提交。
4、建议用等宽字体，如 Consolas 8号，行间距最小值0，左对齐。
4、详情查看 https://register.ccopyright.com.cn/ 。

注意：
1、不能在源代码中出现开放源代码、与开发日期不相符的日期及与申请人不相符的公司（个人）名称。
2、所有的copyright都应该是公司的全称，例如：Copyright (c) 2013年浙江******有限公司  All rights reserved。
3、只留功能性代码语句，代码里凡是出现版权标识的语句，干脆一概删除。
4、不要出现网址。
    "/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
