<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="extensions" value="
             sln|csproj|vbproj
            |config|webconfig
            |asp|ascx|aspx|ashx|asmx|asax|master|resx|sitemap|skin
            |txt|xml|htm|html|css|json|csv|tsv
            |cs|vb|java|python|lua|js
            |php
            |swift|oc|mm
            |c|h|m|cpp
            |cfg|iml|properties
        "/>
        <add key="MaxContinuousBlankLines" value="2" />
        <add key="MaxContinuousCommentLines" value="2" />
        <add key="Encoding" value="UTF-8" />
    </appSettings>
</configuration>